{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <div class="row justify-content-center text-center">
            {% for trailer in trailers %}
                <div class="col-3 mt-2">
                    <div><img src={{ trailer.image }}></div>
                    <div><a href="{{ url_for('detail_movie', {'id': trailer.id }) }}">{{ trailer.title }}</a></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
