{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="mt-2"><a href="/">←Вернуться к списку</a></div>
        <div class="row">
            <div class="col-2 mt-5">
                <img src={{ trailer.image }}>
            </div>
            <div class="col-10">
                <div class="row">
                    <h1 class="mt-5 mb-4">{{ trailer.title }}</h1>
                    <p>{{ trailer.description }}</p>
                    <div class="col-6"><a href={{ trailer.link }}>Источник</a></div>
                    <div class="col-6">
                        <button type="button" class="btn btn-outline-success" id="like" data-id="{{ trailer.id }}">
                            Нравится (<span id="count-like">{{ trailer.likeCount }}</span>)
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="/js/movie.js"></script>
{% endblock %}